@charset "UTF-8";

:root {
    --background: rgb(231, 231, 231);
    --page: rgb(252, 252, 252);
    --ink: rgb(23, 23, 23);
    --halftone: rgb(210, 210, 210);
    
    --frame: rgb(23, 23, 23);
    --shadow: rgb(160, 160, 160);
}

html {
    font-size: 16px;
    background: var(--background);
}

body {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: .5rem 1rem .25rem;
    border: 1px solid var(--frame);
    box-shadow: 2px 2px var(--shadow);
    
    max-width: 675px;
    margin-left: auto;
    margin-right: auto;
    
    font-family: "Ysabeau", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 1.25rem;

    color: var(--ink);
    background: var(--page);
}

/* -----------------------------------------------------------------------------
 * Markdown Format Miscelany
 */

a {
    color: var(--ink);
}

code {
    font-size: 14px;
    font-family: "Space Mono", monospace;
    font-weight: 400; 
    font-style: normal;
}

blockquote {
    font-style: italic;
}

/* -----------------------------------------------------------------------------
 * Tables
 */

table {
    width: 100%;
    text-align: left;

    font-size: 14px;
    font-family: "Space Mono", monospace;
    font-weight: 400; 
    font-style: normal;
    
    border-collapse: collapse;
    border: 1px solid var(--halftone);
    border-top: 2px dotted var(--halftone);
    border-left: 5px solid var(--halftone);
    box-shadow: 2px 2px var(--background);

    margin-bottom: 1rem;
}

th {
    overflow: hidden;
    padding: .2rem .4rem 0;

    border-bottom: 2px solid var(--halftone);
    border-left: 1px solid var(--halftone);
}

td {
    overflow: hidden;
    height: 1.5rem;
    padding: .2rem .4rem 0;

    border-bottom: 1px solid var(--halftone);
    border-right: 1px solid var(--halftone);
}

/* -----------------------------------------------------------------------------
 * The Header
 */

header {
    display: block;
    height: 5rem;
}

header h1 {
    float: left;
    font-size: 2.5rem;
    font-weight: 600;
    font-style: italic;
}

header a {
    text-decoration: none;
}

nav a {
    height: 1.75rem;
    padding: .1rem .5rem 0;
        
    font-size: 14px;
    font-family: "Space Mono", monospace;
    font-weight: 400; 
    font-style: normal;

    border: 1px solid var(--ink);
}

nav a:hover {
    color: var(--page);
    background: var(--ink);
    border: 1px solid var(--ink);
}

header ul {
    float: right;
    padding-left: 0;
}

header li {
    display: inline;
    list-style: none;
}

/* -----------------------------------------------------------------------------
 * Headings & Rules
 */
    
h1, h2, h3, h4, h5, h6 {
    display: inline-block;
    font-family: "Vollkorn", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0.5rem;
}

hr {
    border-top: none;
    border-right: none;
    border-bottom: 1px solid var(--ink);
}

/* -----------------------------------------------------------------------------
 * The Footer
 */

footer {
    text-align: center;
    
    font-size: 10px;
    font-family: "Space Mono", monospace;
    font-weight: 400; 
    font-style: normal;
    line-height: 1.1;

    color: var(--halftone);
}

/* -----------------------------------------------------------------------------
 * Error Box
 */

.error {
    width: 200px;
    height: 100px;

    display: grid;
    align-items: center;
    margin: auto;
    text-align: center;
    
    font-size: 16px;
    font-family: "Space Mono", monospace;
    font-weight: 400; 
    font-style: normal;

    color: rgb(252, 252, 252);
    border: 1px solid rgb(252, 252, 252);
}

.error-container {
    width: 220px;
    height: 120px;

    display: grid;
    align-items: center;

    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    
    border: 1px solid var(--frame);
    background: color(display-p3 0.745 0 0.161);
    box-shadow: 2px 2px var(--background);
}

/* -----------------------------------------------------------------------------
 * Media Display Customizations
 */

/* In print media and small devices, use the full screen instead of a inset page element. */
@media print, (width <= 700px) {
    html {
        background: var(--page);
    }
    
    body {
        margin-top: 0;
        margin-bottom: 0;
        border: none !important;
        box-shadow: none;
        height: 100%;    
    }
}

/* Hide the nav buttons for print media. */
@media print {
    nav {
        display: none;
    }
}

/* -----------------------------------------------------------------------------
 * Dark Theme
 */

@media (prefers-color-scheme: dark) {
    
    :root {
        --background: rgb(26, 26, 26);
        --page: rgb(38, 38, 38);
        --ink: rgb(229, 229, 229);
        --halftone: rgb(80, 80, 80);
        --frame:  black;
        --shadow: black;
    }
}
